<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Learn CSS3 </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dev Mountain Intro to Css" />
    <meta name="keywords" content="Css3, DevMountain, Learn to code, Ben Callis " />
    <meta name="author" content="Ben Callis" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/demo.css" />
    <link rel="stylesheet" type="text/css" href="../css/card.css" />
    <link rel="stylesheet" type="text/css" href="../css/pattern.css" />
    <script src="../js/itstime.js"></script>
</head>

<body cz-shortcut-listen="true">
<div class="container">
    <div class="content">
        <!-- trianglify pattern container -->
        <div class="pattern pattern--hidden"></div>
        <!-- cards -->
        <div class="wrapper">
            <div class="card">
                <div class="card__container card__container--closed">
                    <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                        <defs>
                            <clipPath id="clipPath1">
                                <!-- r = 992 = hyp = Math.sqrt(960*960+250*250) -->
                                <circle class="clip" cx="960" cy="250" r="992"></circle>
                            </clipPath>
                        </defs>
                        <image clip-path="url(#clipPath1)" width="1920" height="500" xlink:href="../img/a.jpg"></image>
                    </svg>
                    <div class="card__content">
                        <i class="card__btn-close fa fa-times"></i>
                        <div class="card__caption">
                            <h2 class="card__title">Css3</h2>
                            <p class="card__subtitle">A modern day love story</p>
                        </div>
                        <div class="card__copy">
                            <section id="css3-intro-1">
                                <div class="header">
                                    <h2 class="title">Cascading Style Sheets (CSS)</h2>
                                </div>

                                <div class="content">
                                    <p class="desc">
                                        Css is the hot sauce on the html burrito. HTML is boring and plain but necessary for our content. Paired up correctly with some html
                                        markup and you can create some really awesome stuff, paired up incorrectly and you'll have your self a mess of code
                                        that can be hard to figure out, unmaintainable and unpredictable.
                                    </p>
                                    <a onclick="window.open('https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_Started/What_is_CSS');"> Official explanation of css found here</a>
                                </div>
                            </section>
                        </div>
                        <div class="card__copy">
                            <section>
                                <div class="header">
                                    <h2 class="title">How does it work?</h2>
                                </div>

                                <div class="content">
                                    <p class="desc">
                                        The browser converts the HTML and the CSS into the DOM (Document Object Model).
                                        The DOM represents the document in the computer's memory. It combines the document's content with its style.
                                    </p>
                                    <a onclick="window.open('https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_Started/How_CSS_works');"> Official explanation how css works found here</a>
                                    <br>
                                    <a onclick="window.open('http://www.html5rocks.com/en/tutorials/internals/howbrowserswork/')"> And Here</a>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card__container card__container--closed">
                    <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                        <defs>
                            <clipPath id="clipPath2">
                                <!-- r = 992 = hyp = Math.sqrt(960*960+250*250) -->
                                <circle class="clip" cx="960" cy="250" r="992"></circle>
                            </clipPath>
                        </defs>
                        <image clip-path="url(#clipPath2)" width="1920" height="500" xlink:href="../img/b.jpg"></image>
                    </svg>
                    <div class="card__content">
                        <i class="card__btn-close fa fa-times"></i>
                        <div class="card__caption">
                            <h2 class="card__title">Css Selectors</h2>
                            <p class="card__subtitle">Who's it going to be?</p>
                        </div>
                        <div class="card__copy">
                            <section>
                                <div class="header">
                                    <h2 class="title">What is a Css Selector?</h2>
                                </div>

                                <div class="content">
                                    <p class="desc">
                                        Once you have some HTML markup you need to be able to tie the specific styles with specific elements. You can do this
                                        many different ways, I'll show you the most frequently used selectors.
                                    </p>
                                    <a onclick="window.open('https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_Started/How_CSS_works');"> Official explanation how css works found here</a>

                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card__container card__container--closed">
                    <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                        <defs>
                            <clipPath id="clipPath3">
                                <!-- r = 992 = hyp = Math.sqrt(960*960+250*250) -->
                                <circle class="clip" cx="960" cy="250" r="992"></circle>
                            </clipPath>
                        </defs>
                        <image clip-path="url(#clipPath3)" width="1920" height="500" xlink:href="../img/c.jpg"></image>
                    </svg>
                    <div class="card__content">
                        <i class="card__btn-close fa fa-times"></i>
                        <div class="card__caption">
                            <h2 class="card__title">Layouts Yo!!</h2>
                            <p class="card__subtitle">How to line it up</p>
                        </div>
                        <div class="card__copy">
                            <div class="card__copy">
                                <section id="ben-callis">
                                    <div class="header">
                                        <h2 class="title">Box Model</h2>
                                    </div>

                                    <div class="content">
                                        <p class="desc">

                                        </p>
                                    </div>
                                </section>
                            </div>

                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>

<script src="../js/vendors/trianglify.min.js"></script>
<script src="../js/vendors/TweenMax.min.js"></script>
<script src="../js/vendors/ScrollToPlugin.min.js"></script>
<script src="../js/vendors/cash.min.js"></script>
<script src="../js/Card-circle.js"></script>
<script src="../js/demo.js"></script>
</body>
</html>
