<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Learn CSS3 </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dev Mountain Intro to Css" />
    <meta name="keywords" content="Css3, DevMountain, Learn to code, Ben Callis " />
    <meta name="author" content="Ben Callis" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/demo.css" />
    <link rel="stylesheet" type="text/css" href="../css/card.css" />
    <link rel="stylesheet" type="text/css" href="../css/pattern.css" />
    <script src="../js/itstime.js"></script>
</head>

<body cz-shortcut-listen="true">
<div class="container">
    <div class="content">
        <!-- trianglify pattern container -->
        <div class="pattern pattern--hidden"></div>
        <!-- cards -->
        <div class="wrapper">
            <div class="card">
                <div class="card__container card__container--closed">
                    <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                        <defs>
                            <clipPath id="clipPath1">
                                <!-- r = 992 = hyp = Math.sqrt(960*960+250*250) -->
                                <circle class="clip" cx="960" cy="250" r="992"></circle>
                            </clipPath>
                        </defs>
                        <image clip-path="url(#clipPath1)" width="1920" height="500" xlink:href="../img/a.jpg"></image>
                    </svg>
                    <div class="card__content">
                        <i class="card__btn-close fa fa-times"></i>
                        <div class="card__caption">
                            <h2 class="card__title">Css3</h2>
                            <p class="card__subtitle">A modern day love story</p>
                        </div>
                        <div class="card__copy">
                            <section id="css3-intro-1">
                                <div class="header">
                                    <h2 class="title">Cascading Style Sheets (CSS)</h2>
                                </div>

                                <div class="content">
                                    <p class="desc">
                                        Css is the hot sauce on the html burrito. HTML is boring and plain but necessary for our content. Paired up correctly with some html
                                        markup and you can create some really awesome stuff, paired up incorrectly and you'll have your self a mess of code
                                        that can be hard to figure out, unmaintainable and unpredictable.
                                    </p>
                                    <a onclick="window.open('https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_Started/What_is_CSS');"> Official explanation of css found here</a>
                                </div>
                            </section>
                        </div>
                        <div class="card__copy">
                            <section>
                                <div class="header">
                                    <h2 class="title">How does it work?</h2>
                                </div>

                                <div class="content">
                                    <p class="desc">
                                        The browser converts the HTML and the CSS into the DOM (Document Object Model).
                                        The DOM represents the document in the computer's memory. It combines the document's content with its style.
                                    </p>
                                    <a onclick="window.open('https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_Started/How_CSS_works');"> Official explanation how css works found here</a>
                                    <br>
                                    <a onclick="window.open('http://www.html5rocks.com/en/tutorials/internals/howbrowserswork/')"> And Here</a>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card__container card__container--closed">
                    <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                        <defs>
                            <clipPath id="clipPath2">
                                <!-- r = 992 = hyp = Math.sqrt(960*960+250*250) -->
                                <circle class="clip" cx="960" cy="250" r="992"></circle>
                            </clipPath>
                        </defs>
                        <image clip-path="url(#clipPath2)" width="1920" height="500" xlink:href="../img/b.jpg"></image>
                    </svg>
                    <div class="card__content">
                        <i class="card__btn-close fa fa-times"></i>
                        <div class="card__caption">
                            <h2 class="card__title">Css Selectors</h2>
                            <p class="card__subtitle">Who's it going to be?</p>
                        </div>
                        <div class="card__copy">
                            <section>
                                <div class="header">
                                    <h2 class="title">What is a Css Selector?</h2>
                                </div>
                                <div class="content">
                                    <p class="desc">
                                        Once you have some HTML markup you need to be able to tie the specific styles with specific elements. You can do this
                                        many different ways, I'll show you the most frequently used selectors.
                                    </p>
                                </div>
                            </section>
                            <section>
                            <div class="header">
                                <h2 class="title">The Class Selector</h2>
                            </div>
                            <div class="content">
                                <p class="desc">
                                    Use the class attribute in an element to assign the element to a named class. It is up to you what name you choose for the class.
                                    Multiple elements in a document can have the same class value.
                                </p>
                                <p class="desc">
                                    You would use this type of selector when you have a change that you would want to affect more than one element. I like to think of it in terms of a classroom full of people, if there
                                    was a change I wanted to make that would affect them all "change all their shirts to the color red or give them all brown hair. I would use a class selector for this.
                                </p>
                            </div>
                        </section>
                            <section>
                                <div class="header">
                                    <h2 class="title">HTML Markup with a class attribute</h2>
                                </div>
                                <div class="content">
                                    <p class="desc">
                                        This is an example of HTML markup that has a class attribute.
                                    </p>
                                </div>
 <pre class="prettyprint prettyprinted">
    &lt;h1 class='people'> Some Text &lt;/h1>
</pre>
                            </section>
                            <section>
                                <div class="header">
                                    <h2 class="title">The id Selector</h2>
                                </div>
                                <div class="content">
                                    <p class="desc">
                                        Use the id attribute in an element to assign an ID to the element. It is up to you what name you choose for the ID.
                                        The ID name must be unique in the document.

                                    </p>
                                    <p class="desc">
                                       You would use this type of selector if you wanted to make changes to only one HTML element. Think about your drivers license or passport, both of those
                                        are unique to you. The same goes for code the id should be unique to only that specific element.
                                    </p>
                                </div>
                            </section>
                            <section>
                                <div class="header">
                                    <h2 class="title">HTML Markup with a id attribute</h2>
                                </div>
                                <div class="content">
                                    <p class="desc">
                                        This is an example of HTML markup that has a id attribute.
                                    </p>
                                </div>
 <pre class="prettyprint prettyprinted">
    &lt;h1 id='people'> Some Text &lt;/h1>
</pre>
                            </section>
                            <section>
                                <div class="header">
                                    <h2 class="title">Stylesheets vs inline styles</h2>
                                </div>
                                <div class="content">
                                    <p class="desc">
                                        The two primary ways of styling an HTML element. The first is inline-styles, and the other is using a stylesheet. Inline-styles are when you put your styles
                                        on the HTML element, and a stylesheet is a separate file for your styles. I recommend always putting your styles in a separate file.
                                    </p>
                                </div>
                            </section>
                            <section>
                                <div class="header">
                                    <h2 class="title">Inline Style</h2>
                                </div>
 <pre class="prettyprint prettyprinted">
    &lt;h1 style='color:blue;font-size:12px;'> Some Text &lt;/h1>
</pre>
                            </section>
                            <section>
                                <div class="header">
                                    <h2 class="title">Stylesheet</h2>
                                </div>
                                <div class="content">
                                    <p class="desc">
                                       Because the stylesheet it located in a separate file you need to tell the browser where to find it. You do this by including the location in the head
                                        of the HTML Document that the stylesheet is associated with. You probably remember the HTML Skeleton from the earlier section. This time we will add
                                        a css file to the head section
                                    </p>
                                </div>

<pre class="prettyprint prettyprinted stylesheet-head">
     &lt;!DOCTYPE html>
      &lt;html>
        &lt;head>
             &lt;link rel="stylesheet" type="text/css" href="../css/people.css" />
        &lt;/head>
        &lt;body>
            &lt;h1 class='people'> Class of People &lt;/h1>
            &lt;h1 id='person'> Just one Person &lt;/h1>
        &lt;/body>
    &lt;/html>
</pre>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card__container card__container--closed">
                    <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                        <defs>
                            <clipPath id="clipPath3">
                                <!-- r = 992 = hyp = Math.sqrt(960*960+250*250) -->
                                <circle class="clip" cx="960" cy="250" r="992"></circle>
                            </clipPath>
                        </defs>
                        <image clip-path="url(#clipPath3)" width="1920" height="500" xlink:href="../img/c.jpg"></image>
                    </svg>
                    <div class="card__content">
                        <i class="card__btn-close fa fa-times"></i>
                        <div class="card__caption">
                            <h2 class="card__title">Layouts Yo!!</h2>
                            <p class="card__subtitle">How to line it up</p>
                        </div>
                        <div class="card__copy">
                            <div class="card__copy">
                                <section id="ben-callis">
                                    <div class="header">
                                        <h2 class="title">Box Model</h2>
                                    </div>

                                    <div class="content">
                                        <p class="desc">

                                        </p>
                                    </div>
                                </section>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../js/vendors/trianglify.min.js"></script>
<script src="../js/vendors/TweenMax.min.js"></script>
<script src="../js/vendors/ScrollToPlugin.min.js"></script>
<script src="../js/vendors/cash.min.js"></script>
<script src="../js/Card-circle.js"></script>
<script src="../js/demo.js"></script>
</body>
</html>
